@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.myCheck{

}

* {
    outline: none;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 32px;
    background: rgb(76,94,168);
    background: linear-gradient(60deg, rgba(76,94,168,1) 0%, rgba(239,90,154,1) 100%);      }

.generic-table {
    max-width: 750px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
    font-size: 14px;
    background: #ffffff60;
    border-radius: 10px;
    padding: 0;
    box-shadow: 4px 4px 12px 12px rgb(0 0 0 / 12%);
}
li:first-of-type{
    display: flex;
}
.enabling{
    display: none;
}
.sortable{
    position: relative;
    left: -10px;
    top: 20px;
    display: flex;
    padding: 10px 10px;
}

.search{
    position: relative;
    top: 20px;
}

.generic-table input {
    padding: 8px 18px;
    border-radius: 10px;
    border: 0px;
}
.generic-table input:nth-of-type(4) {
    top: -22px;
    left: 40px;
    position: relative;
}
.generic-table input:nth-of-type(4) {
    top: -22px;
    left: 40px;
    position: relative;
}

.generic-table > div {
    padding: 0 16px;
}

.generic-table .search-container {
    text-align: left;
    padding-top: 18px;
}

.generic-table .add-container {
    text-align: right;
}

.generic-table .add-container button {
    position: relative;
    top: -67px;
    left: 90px;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    cursor: pointer;
    background: radial-gradient(#ff0000, #ffdddd);
    border: 1px solid rgba(0,0,0,.35);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .20);
    transition: 0.3s ease;
    font-size: 0;
}

.generic-table .add-container button:hover {
    background: radial-gradient(#ff3333, #ffdddd);
    border: 1px solid rgba(0,0,0,.25);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .15);
}

.generic-table .add-container button:active {
    top: 1px;
    left: 1px;
    background: radial-gradient(#ff0000, #ffbbbb);
    border: 1px solid rgba(0,0,0,.4);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .25);
}

.generic-table .add-container button::after {
    content: '+';
    color: white;
    position: absolute;
    font-size: 32px;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 2px #000;
}

.generic-table .table-container {
    grid-area: table;
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 125px);
    padding: 0;
}

.generic-table ul {
    border: 1px solid rgba(0,0,0,.25);
    border-collapse: collapse;
    margin: 0 16px;
    width: calc(100% - 32px);
}

.generic-table ul li {
    border: 1px solid rgba(0,0,0,.25);
    background: linear-gradient(to top, #eeeeee90, #ffffff90);
}


.generic-table ul li:not(:first-child):hover {
    background: linear-gradient(to top, #ddd, #eee);
}

.generic-table ul li{
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}

/* .generic-table ul li div:nth-of-type(1n+0){
    grid-area: isdone;
    display: flex;
    max-width: 28px;
    height: 28px;
} */
.generic-table ul li div:nth-of-type(2n+0){

    display: flex;
    align-items: center;
    min-width: 120px;
}
/* .generic-table ul li div:nth-of-type(3n+0){
    grid-area: duedate;
}
.generic-table ul li div:nth-of-type(4n+0){
    grid-area: edit;
} */

.generic-table ul li.sortable {
    position: relative;
    cursor: pointer;
}

.generic-table ul li i {
    margin-right: 6px;
    cursor: pointer;
    padding: 4px 8px;
}


.generic-table ul li .sort-arrow {
    position: relative;
    transform: translate(3px, -10px);
    color: blue;
    font-size: 24px;
    top: 6px;
    left: 6px;
}

.generic-table .add-edit-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff90;
    border-radius: 10px;
}

.generic-table .add-edit-form form {
    padding: 24px;
    background-color: #00000010;
    margin: 20px;
}

.generic-table .add-edit-form form h2 {
    text-align: center;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(#eee, #333);
    font-size: 32px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.generic-table .add-edit-form form input:not([type="submit"]) {
    display: block;
    margin-bottom: 8px;
}

.generic-table input:not([type="submit"]) {
    transition: 0,3 ease;
}

.generic-table input:not([type="submit"]):focus {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .20);
    background: rgba(255,255,200,0.8);
}

.generic-table .add-edit-form form input[type="submit"],
.generic-table .add-edit-form form button[type="button"] {
    padding: 4px 8px;
    border-radius: 4px;
    background: white;
    min-width: 64px;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgba(0,0,0,0.5);
    cursor: pointer;
    font-weight: bolder;
}

.generic-table .add-edit-form form input[type="submit"] {
    float: left;
    background: linear-gradient(to bottom, #fff, #aaf);
}

.generic-table .add-edit-form form button[type="button"] {
    float: right;
    background: linear-gradient(to bottom, #fff, #aaa);
}

.generic-table .add-edit-form form input[type="submit"]:hover {
    background: linear-gradient(to bottom, #fff, #bbf);
}

.generic-table .add-edit-form form button[type="button"]:hover {
    background: linear-gradient(to bottom, #fff, #bbb);
}

.generic-table .add-edit-form form input[type="submit"]:active {
    position: relative;
    top: 1px;
    left: 1px;
    background: linear-gradient(to bottom, #fff, #99f);
}

.generic-table .add-edit-form form button[type="button"]:active {
    position: relative;
    top: 1px;
    left: 1px;
    background: linear-gradient(to bottom, #fff, #999);
}

